image: node:latest

cache:
  paths:
  - node_modules/

deploy:
  script:
   - apt-get update
   - apt-get upgrade -y
   - apt install awscli -y
   - aws configure set default.region ap-southeast-1
   - aws configure set preview.cloudfront true
   - npm install
   - npm install gulp -g
   - gulp build
   - gulp
   - /bin/bash deploy.sh
