image: node:latest

cache:
  paths:
  - node_modules/

deploy:
  script:
   - apt-get install python-setuptools
   - easy_install pip==9.0.1
   - pip install awscli --upgrade --user
   - aws configure set default.region ap-southeast-1
   - aws configure set preview.cloudfront true
   - npm install
   - npm install gulp -g
   - gulp build
   - gulp
   - /bin/bash deploy.sh
