body{
	direction: rtl;
}

.top-address .fa{
	margin-left: 8px;
	margin-right: 0px;
}

.footer-inner .form-field button::before{
	left: 20px;
	right: inherit;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select{
	text-align: right;
}

.footer-inner .form-field button{
	text-align: right;
}

.footer-inner .fa{
	margin-left: 15px;
	margin-right: 0px;
}

.carousel-box , #testimonial_carosule{
	direction: ltr;
	text-align: right;
}

.forcefullwidth_wrapper_tp_banner , .bx-wrapper , .slick-slider{
	direction: ltr;
}

.bread-right ul li a::after{
	left: 10px;
	right: inherit;
}

.bread-right ul li a{
	padding-left: 26px;
	padding-right: 0px;
}

.plusminus{
	margin-left: 15px;
}

.widget-contact-item i{
	float: right;
	margin-left: 10px;
}

.list li::before{
	left: inherit;
	right: 0px;
}

.list li{
	padding-left: 0px;
	padding-right: 30px;
}

.feature-box-icon{
	right: 0px;
	left: inherit;
}

.feature-box-right{
	padding-left: 0px;
	padding-right: 70px;
}

.a-document-link{
	float: right;
}

.info-icon{
	float: right;
}

.info-content{
	float: left;
}

.client-img{
	float: right;
}

.client-content{
	float: right;
	margin-left: 0px;
	margin-right: 30px;
	height: auto;
	margin-top: 20px;
}

.testimonial-detail {
    display: inline-block;
    width: 100%;
}

.wpcf7-form span.wpcf7-not-valid-tip{
	text-align: right;
}

div.wpcf7-validation-errors{
	float: right;
}

.mini_cart_item .quantity{
	left: inherit;
	right: 69px !important;
}

.woocommerce ul.product_list_widget li .star-rating{
	right: 0px !important;
	margin-right: 70px;
	left: inherit !important;
}

.woocommerce ul.product_list_widget li .reviewer{
	right: 0px !important;
	margin-right: 70px;
	left: inherit !important;	
}

body .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
	float: right !important;
	margin-right: 0px !important;
	margin-left: 15px;
}

.widget.woocommerce.widget_top_rated_products .product_list_widget span.amount{
	right: 73px !important;
	left: inherit !important;
}

.widget.woocommerce.widget_products .product_list_widget ins span.amount, .widget.woocommerce.widget_recently_viewed_products .product_list_widget ins span.amount{
	right: 72px !important;
	left: inherit !important;
}

.widget.woocommerce.widget_products .product_list_widget span.amount, .widget.woocommerce.widget_recently_viewed_products .product_list_widget span.amount{
	right: 120px !important;
	left: inherit !important;
}

.woocommerce ul.cart_list li a.remove{
	float: left !important;
}

body .widget_shopping_cart_content p.buttons a.button, .woocommerce .widget_price_filter .price_slider_amount .button, .widget.woocommerce.widget_product_search input[type="submit"], .woocommerce #review_form #respond .form-submit input.submit{
	float: right;
}

.woocommerce .woocommerce-result-count{
	float: left !important;
}

.woocommerce .woocommerce-ordering{
	float: right !important;
}

.woocommerce table.shop_table , .woocommerce th{
	text-align: right !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li{
	float: right !important;
}

body .comment-pic{
	float: right;
}

body .commnet-content{
	margin-left: 0px;
	margin-right: 90px;
}

.post-img{
	float: right;
}

.post-content{
	margin-right: 90px;
	margin-left: 0px;
}

.woocommerce-cart-dropdown-item{
	text-align: right !important;
}

.woocommerce-cart-dropdown-item .woocommerce-cart-list a > img{
	float: right !important;
	margin-right: 0px !important;
	margin-left: 15px !important;
}

.social li{
	float: right;
}

.logo{
	float: right;
}

.header-cart-area{
	float: left !important;
}

.menu-wrp{
	float: left;
	margin-left: 15px;
}

.menu-wrp ul li{
	float: right;
}

.woocommerce-cart-dropdown-item{
	right: inherit !important;
	left: 0px !important;
}

.mean-container a.meanmenu-reveal{
	left: 0px !important;
	right: inherit !important;
}

.woocommerce-cart-dropdown-item::before{
	right: inherit !important;
	left: 5px !important;
}

.submenu > li:hover .submenu{
	left: inherit !important;
	right: 100% !important;
}

.submenu .menu-item-has-children > a::after{
	right: inherit !important;
	left: 12px;
	content:"\f0d9";
}

.top-arrow{
	right: inherit !important;
	left: 21px;
}

.vc_progress_bar .vc_single_bar .vc_bar{
	left: inherit !important; 
	right: 0px;
}

.main-part .about-col-right{
	margin-left: 0px;
	margin-right: 50px;
}

.main-part .about-col-icon{
	float: right;
}

.main-part .text-left{
	text-align: right !important;
}

.main-part .blog-item-inner .owl-buttons{
	right: inherit;
	left: 20px;
}

.footer-navi a:first-child:after{
	display: none;
}

.footer-navi a:first-child{
	padding-right: 0px;
	margin-right: 0px;
}

.footer-navi a:last-child:after{
	display: block;
}

.footer-navi a:last-child{
	padding-right: 10px;
	margin-right: 10px;
}

.title-bread-left{
	float: right;
}

.bread-right{
	float: left;
}

form.searchform button{
	left: 0px;
	right: inherit;
}

.comment-main .children {
    padding-left: 0;
    padding-right: 7%;
}

@media(max-width: 991px){
	.menu-wrp{
		margin-left: 0px;
	}

	.menu-wrp ul li:last-child{
		margin-right: 15px;
	}
}